/* Reset some default styles */
body, h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: white;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.wrapper {
    flex: 1;
}

/* Navigation bar styles */
.navbar {
  background-color: #781e27;
  border-radius: 0;
}

.navbar-brand {
    display: flex;
    align-items: center;
    padding: 0.5rem; /* Adjust this value to control the spacing around the logo */
}

.navbar-brand img {
    max-height: 100%;
}

.navbar-nav .nav-link {
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 2rem;
  margin: 20px;
  text-align: left;
}

.dropdown-menu {
  padding: 2%;
  z-index: 2000;
}

/* Button styles */
.btn {
  background-color: #781e27;
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  margin-bottom: 2%;
  font-family: Quicksand, sans-serif;
  box-shadow: 1px 1px #2a2a2a;
}

.btn:hover {
  background-color: #ceb0a3;
  color: white;
}

/* Footer styles */

.footer {
    background-color: #781e27;
    color: white;
    text-align: center;
    padding: 1.5%;
}


/* Responsive text styles */
h1, h2, h3, h4, p {
  font-family: 'Quicksand', sans-serif;
}

h1 {
  font-size: 6rem;
}

h2 {
  color: #781e27;
}

h3 {
  color: #781e27;
  font-size: 2rem;
}

h4 {
  color: #781e27;
  font-size: 2rem;
  padding: 10px;
  margin: 10px;
}

.pagetitle {
  font-family: 'Coustard', serif;
  margin: 1%;
  color: black;
}

/* Responsive image styles */
img {
  max-width: 100%;
  height: auto;
}
